@model ProblemDetails
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

@{
    ViewData["Title"] = "Index";
    var objectprojectlist = ViewData["projectList"] as IEnumerable<ProjectDetails>;
}
<partial name="_Notification"></partial>

<div class"cotainer  p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Project List</h2>
        </div>
        <div class="col-6 text-end">
            
            <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                Create new Project</a>
        </div>
    </div>
    <br /> <br />
    </div>
<h1>Projects</h1>

<table class="table table-bordered table-striped" style="width:100%":>

<thead>
    <tr>
        <th>
           Project_Id
        </th>
        <th>
            Project_Name
        </th>
        <th>
           Project_Description
        </th>
         <th>
          Associated_Managers
        </th>
           <th>
          Created_At
        </th>
         <th>
         Updated_At
        </th>

         
    </tr>
    </thead>
    <tbody>
        @foreach (var obj in objectprojectlist)
        {
            <tr>
                <td width="50%">
                    @obj.Project_Id
                </td>
                <td width="30%">
                    @obj.Project_Name

                </td>
                <td width="30%">
                    @obj.Project_Description

                </td>
                 <td width="30%">
                    @obj.Associated_Managers

                </td>
                 <td width="30%">
                    @obj.Created_At

                </td>
                 <td width="30%">
                    @obj.Updated_At

                </td>
     
                      
                <td>
                 @*  <div class=w-75 btn-group" role="group">
                        <a asp-action="Edit" asp-controller="category" asp-route-Id="@obj.Id" class="btn btn-primary mx-2">Edit<i class="bi bi-pencil-square"></i></a>

                    </div>
                    <div class=w-75 btn-group" role="group">
                        <a asp-action="Delete" asp-controller="category" asp-route-Id="@obj.Id" class="btn btn-danger mx-2">Delete<i class="bi bi-trash"></i></a>

                    </div>*@
              </td>
            </tr>
            
        }
    </tbody>
   </table>
